.cardDesc{
  padding: 35px 20px;
  border-radius: 0 0 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionSliderMob{
  padding-top: 60px;
}
.sliderText{
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--main-text-color);
}
