.mobileHeader{
  position: relative;
}
.headerContent{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 28px;
}

.mobileMenu{
  position: relative;
}

.burgerIcon{
  position: absolute;
  top: 35px;
  right: 35px;
  width: 30px;
  height: 30px;
  fill: var(--icons-color);
  cursor: pointer;
}
.closeIcon{
  position: absolute;
  top: 15px;
  right: 25px;
  width: 30px;
  height: 30px;
  fill: var(--icons-color);
  cursor: pointer;
}
.backdrop{
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.78);
  z-index: 600;
}
.headerNav{
  position: absolute;
  top: 25px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 23px;
  width: 163px;
  border: 2.54688px solid var(--icons-color);
  border-radius: 15px;
  padding-top: 55px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.navItem{
  font-weight: 400;
  font-size: 20.375px;
  line-height: 1.15;
  color: var(--icons-color);
}
