.headerContent{
  padding: 32px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerIcon{
  width: 30px;
  height: 30px;
  color: var(--accent-text-color);
  cursor: pointer;
}
.iconWrapper{
  position: relative;
  .budgetIcon{
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    top: 50%;
    right: 0;
    background-color: #8383d9;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
    font-weight: 600;
    z-index: 10;
  }
}

.cart{
  display: flex;
  align-items: center;
  justify-content: center;

}

.navHeader{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
