.portfolioWrapper {
  margin-top: 50px;
}

.portfolioList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 1279px) {
  }
}
.portfolioList > li {
  position: relative;
  border-radius: 20px;
  box-shadow:
    -2.81113px 0px 16.8668px rgba(12, 90, 107, 0.05),
    5.62225px 2.81113px 16.8668px 1.12445px rgba(12, 90, 107, 0.1);
  transition: 0.3s;
  &:hover {
    box-shadow:
      rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transform: scale(1.03);
    transition: 0.3s;
  }
}

.item {
  cursor: pointer;
  width: 310px;
  height: 340px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  @media screen and (min-width: 1279px) {
    width: 360px;
    height: 380px;
    & > img {
      width: 100%;
    }
  }
}

.textWrapper {
  height: 100%;
  padding: 20px;
}
.cardDesc {
  padding: 27px 32px;
  border-radius: 0 0 20px 20px;
  height: 100%;
  width: 100%;
  z-index: 20;
}
.cardText {
  font-family: 'Vetrino';
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  color: var(--main-text-color);
}
.cardVideoBox {
  position: relative;
  height: 310px;
  overflow: hidden;
}
.cardVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  scale: 1.4;
  z-index: -1;
  @media screen and (min-width: 1279px) {
    height: 100%;
    width: 100%;
    transform: scale(1.1);
  }
}
.modalVideo {
  width: 100%;
  //height: 100%;
}
.iconPlay {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  z-index: 30;
  &:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
}
.singleVideoBox {
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 268px;
  @media screen and (min-width: 1279px) {
    height: 310px;
  }
}

.singleVideo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: -1;
  transform: scale(1.55);
}

.checkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkBtn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background: var(--accent-text-color);
  cursor: pointer;
  color: white;
  border: none;
  font-size: 20px;
  transition: 0.3s;
  &:hover {
    transform: scale(1.2);
    transition: 0.3s;
  }
}
.checkIcon {
  width: 50px;
  height: 50px;
  color: white;
}
