.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 390px;

  @media screen and (min-width: 768px){
    width: 768px;
      padding-left: 30px;
      padding-right: 30px;
  }
  @media screen and (min-width: 1279px) {
    width: 1280px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
