.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 390px;

  @media screen and (min-width: 768px){
    width: 768px;
    padding: 0 30px;
  }
  @media screen and (min-width: 1279px) {
    width: 1280px;
    padding: 0 60px;
  }
}
