@import '~swiper/swiper.css';

.homePageContent{
  //position: relative;
 overflow-x: hidden;
}

.heroSection{
  padding-top: 40px;
}

//FIXME:
//nned to delete
.timeContent{
  position: absolute;
  top: 110px;
  left: 20px;
  width: 80%;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.portfolioSection{
  padding-top: 40px;
  padding-bottom: 50px;
}
.sectionTitle{
  font-family: 'Vetrino', Ubuntu, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: var(--main-text-color);
}
.section{
  padding-top: 50px;
  padding-bottom: 50px;

}
.aboutDescText{
  margin-right: 0;
  margin-top: 60px;
  //width: 340px;
  padding: 53px 27px;
  border-radius: 40px;
  background: var(--background-color);
  box-shadow: -5px 0px 30px rgba(12, 90, 107, 0.05), 10px 5px 30px 1px rgba(12, 90, 107, 0.05);
}
.aboutDescText>li{
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 2.5;
  color: var(--main-text-color);
}
.storeWrapper{
  margin-top: 60px;
  gap: 16px;
  display: flex;
flex-direction: column;
}
.vectorItem{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  box-shadow: -5px 0px 30px rgba(12, 90, 107, 0.05), 10px 5px 30px 1px rgba(12, 90, 107, 0.05);
  border-radius: 40px;
  background: white;
  @media screen and (min-width: 768px) {
    width: 710px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1279px) {
    width: 100%;
    padding-left: 32px;
  }
}
.vectorLeft{
  width: 250px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    width: 500px;
    font-size: 18px;
  }
  @media screen and (min-width: 1279px) {
    width: 1000px;
    padding-left: 32px;
  }
}
.vectorRight{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: #ABABD1;
  width: 100px;
  padding: 15px ;
  border-radius: 0 40px 40px 0 ;
  @media screen and (min-width: 768px) {
    width: 200px;

  }
}
.vectorRight:before{
content:'';
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 100%;
  background: #ABABD1;
  transform: skew(-20deg);
  @media screen and (min-width: 768px) {
    left: -15px;
    width: 30px;
  }
}
.soundsItem{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  box-shadow: -5px 0px 30px rgba(12, 90, 107, 0.05), 10px 5px 30px 1px rgba(12, 90, 107, 0.05);
  border-radius: 40px;
  background: white;
  @media screen and (min-width: 768px) {
    width: 710px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1279px) {
    width: 100%;
    padding-left: 32px;
  }

}
.soundsLeft{
  width: 250px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    width: 500px;
    font-size: 18px;
  }
  @media screen and (min-width: 1279px) {
    width: 1000px;
    padding-left: 32px;
  }
}
.soundsRight{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: #E8DCCC;
  width: 100px;
  padding: 15px ;
  border-radius: 0 40px 40px 0 ;
  @media screen and (min-width: 768px) {
    width: 200px;
  }
}
.soundsRight:before{
  content:'';
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 100%;
  background: #E8DCCC;
  transform: skew(-20deg);
  @media screen and (min-width: 768px) {
    left: -15px;
    width: 30px;
  }
}
.trackItem{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  box-shadow: -5px 0px 30px rgba(12, 90, 107, 0.05), 10px 5px 30px 1px rgba(12, 90, 107, 0.05);
  border-radius: 40px;
  background: white;
  @media screen and (min-width: 768px) {
    width: 710px;
    padding-left: 32px;
  }
  @media screen and (min-width: 1279px) {
    width: 100%;
    padding-left: 32px;
  }
}
.trackLeft{
  width: 250px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  @media screen and (min-width: 768px) {
    width: 500px;
    font-size: 18px;
  }
  @media screen and (min-width: 1279px) {
    width: 1000px;
    padding-left: 32px;
  }
}
.trackRight{
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  background: #E1A9C4;
  width: 100px;
  padding: 15px ;
  border-radius: 0 40px 40px 0 ;
  @media screen and (min-width: 768px) {
    width: 200px;
  }

}
.trackRight:before{
  content:'';
  position: absolute;
  top: 0;
  left: -10px;
  width: 20px;
  height: 100%;
  background: #E1A9C4;
  transform: skew(-20deg);
  @media screen and (min-width: 768px) {
    left: -15px;
    width: 30px;
  }
}
.storeIcon{
  width: 20px;
  height: 20px;
  margin-right: 30px;
  @media screen and (min-width: 768px) {
    width: 33px;
    height: 33px;
    margin-right: 30px;
  }
}

.footer{
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14.9701px;
  line-height: 1.2;
  text-align: center;
  color: rgba(171, 171, 209, 0.46);
}



