.header{
  padding-top: 64px;
  padding-left: 20px;
}
.headerNav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 26px;
  margin-left: auto ;
  margin-right: 0;

  &>a{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: var(--main-text-color);
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      color: var(--accent-text-color);
      transition: 0.3s;
    }
  }
}
